In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Calculate the total number of schools
totalschools=len(school_data_complete["school_name"].unique())
# Count the total number of students
totalstudents=school_data_complete["Student ID"].count()
# Calculate the total budget
totalbudget=school_data["budget"].sum()
# Calculate the avarage math score
averagemath=school_data_complete["math_score"].mean()
# Calculate the avarage reading score
averageread=school_data_complete["reading_score"].mean()
# Calculate the % passing math
passmath=len(school_data_complete[school_data_complete["math_score"]>=70])*100/totalstudents
# Calculate the % passing reading
passread=len(school_data_complete[school_data_complete["reading_score"]>=70])*100/totalstudents
# Calculate the counts of students who passed math and reading
passboth=len(school_data_complete[(school_data_complete["math_score"]>=70)&\
                            (school_data_complete["reading_score"]>=70)])*100/totalstudents
# Create distirct summary dataframe
district_dict={"Total Schools":[totalschools],"Total Students":[totalstudents],"Total Budget":[totalbudget],\
               "Average Math Score":[averagemath],"Average Reading Score":[averageread],"% Passing Math":[passmath],\
               "% Passing Reading":[passread],"% Overall Passing":[passboth]}
District_df=pd.DataFrame(district_dict)
District_df["Total Budget"]=District_df["Total Budget"].map("${:,.2f}".format,na_action='ignore')
District_df["Total Students"]=District_df["Total Students"].map("{:,}".format)


District_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [4]:
# Group by "school_name","type",and "budget"
grouped_school_df=school_data_complete.groupby([ "school_name","type","budget",])
# Calculate the total stuents for each school
totalstudents=grouped_school_df["Student ID"].count()
# Calculate the average math score for each school
averagemath=grouped_school_df["math_score"].mean()
# Calculate the average reading score for each school
averageread= grouped_school_df["reading_score"].mean()
# Calculate the % passing math for each school
passmath=school_data_complete.loc[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()
percentpassmath=passmath/totalstudents*100
# Calculate the % passing reading for each school
passread=school_data_complete.loc[school_data_complete["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()
percentpassread=passread/totalstudents*100
# Calculate the counts of students who passed math and reading for each shchool
passboth=school_data_complete[(school_data_complete["math_score"] >= 70)& (school_data_complete["reading_score"]>=70)].groupby(["school_name"])["math_score"].count()
passboth

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: math_score, dtype: int64

In [5]:
# Create the incomplete dateframe for school summary 
school_dict={"Total Students":totalstudents,\
               "Average Math Score":averagemath,"Average Reading Score":averageread,"% Passing Math":percentpassmath,\
               "% Passing Reading":percentpassread}
# Use reset_index() to convert groupby indexes ("school_name","type" and "budget") to columns
draft_school_df=pd.DataFrame(school_dict).reset_index()
draft_school_df

,school_name,type,budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,Bailey High School,District,3124928,4976,77.048432,81.033963,66.680064,81.933280
1,Cabrera High School,Charter,1081356,1858,83.061895,83.975780,94.133477,97.039828
2,Figueroa High School,District,1884411,2949,76.711767,81.158020,65.988471,80.739234
3,Ford High School,District,1763916,2739,77.102592,80.746258,68.309602,79.299014
4,Griffin High School,Charter,917500,1468,83.351499,83.816757,93.392371,97.138965
5,Hernandez High School,District,3022020,4635,77.289752,80.934412,66.752967,80.862999
6,Holden High School,Charter,248087,427,83.803279,83.814988,92.505855,96.252927
7,Huang High School,District,1910635,2917,76.629414,81.182722,65.683922,81.316421
8,Johnson High School,District,3094650,4761,77.072464,80.966394,66.057551,81.222432
9,Pena High School,Charter,585858,962,83.839917,84.044699,94.594595,95.945946
10,Rodriguez High School,District,2547363,3999,76.842711,80.744686,66.366592,80.220055
11,Shelton High School,Charter,1056600,1761,83.359455,83.725724,93.867121,95.854628
12,Thomas High School,Charter,1043130,1635,83.418349,83.848930,93.272171,97.308869
13,Wilson High School,Charter,1319574,2283,83.274201,83.989488,93.867718,96.539641
14,Wright High School,Charter,1049400,1800,83.682222,83.955000,93.333333,96.611111

In [6]:
# Use merge to add the new column "passboth", but the column is under the name "math_score" which needs to be renamed
school_data_merge = pd.merge(draft_school_df, passboth, how="left", on=["school_name", "school_name"])
# Set school_name as the index
school_data_merge=school_data_merge.set_index("school_name")
school_data_merge

,type,budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,math_score
school_name,,,,,,,,
Bailey High School,District,3124928,4976,77.048432,81.033963,66.680064,81.933280,2719
Cabrera High School,Charter,1081356,1858,83.061895,83.975780,94.133477,97.039828,1697
Figueroa High School,District,1884411,2949,76.711767,81.158020,65.988471,80.739234,1569
Ford High School,District,1763916,2739,77.102592,80.746258,68.309602,79.299014,1487
Griffin High School,Charter,917500,1468,83.351499,83.816757,93.392371,97.138965,1330
Hernandez High School,District,3022020,4635,77.289752,80.934412,66.752967,80.862999,2481
Holden High School,Charter,248087,427,83.803279,83.814988,92.505855,96.252927,381
Huang High School,District,1910635,2917,76.629414,81.182722,65.683922,81.316421,1561
Johnson High School,District,3094650,4761,77.072464,80.966394,66.057551,81.222432,2549
Pena High School,Charter,585858,962,83.839917,84.044699,94.594595,95.945946,871
Rodriguez High School,District,2547363,3999,76.842711,80.744686,66.366592,80.220055,2119
Shelton High School,Charter,1056600,1761,83.359455,83.725724,93.867121,95.854628,1583
Thomas High School,Charter,1043130,1635,83.418349,83.848930,93.272171,97.308869,1487
Wilson High School,Charter,1319574,2283,83.274201,83.989488,93.867718,96.539641,2068
Wright High School,Charter,1049400,1800,83.682222,83.955000,93.333333,96.611111,1626

In [7]:
# Rename columns
school_data_renamed1=school_data_merge.rename(columns={"type":"School Type",\
                                                    "budget":"Total School Budget","math_score":"Passbothcounts"},\
                                           inplace=False)
school_data_renamed1

,School Type,Total School Budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Passbothcounts
school_name,,,,,,,,
Bailey High School,District,3124928,4976,77.048432,81.033963,66.680064,81.933280,2719
Cabrera High School,Charter,1081356,1858,83.061895,83.975780,94.133477,97.039828,1697
Figueroa High School,District,1884411,2949,76.711767,81.158020,65.988471,80.739234,1569
Ford High School,District,1763916,2739,77.102592,80.746258,68.309602,79.299014,1487
Griffin High School,Charter,917500,1468,83.351499,83.816757,93.392371,97.138965,1330
Hernandez High School,District,3022020,4635,77.289752,80.934412,66.752967,80.862999,2481
Holden High School,Charter,248087,427,83.803279,83.814988,92.505855,96.252927,381
Huang High School,District,1910635,2917,76.629414,81.182722,65.683922,81.316421,1561
Johnson High School,District,3094650,4761,77.072464,80.966394,66.057551,81.222432,2549
Pena High School,Charter,585858,962,83.839917,84.044699,94.594595,95.945946,871
Rodriguez High School,District,2547363,3999,76.842711,80.744686,66.366592,80.220055,2119
Shelton High School,Charter,1056600,1761,83.359455,83.725724,93.867121,95.854628,1583
Thomas High School,Charter,1043130,1635,83.418349,83.848930,93.272171,97.308869,1487
Wilson High School,Charter,1319574,2283,83.274201,83.989488,93.867718,96.539641,2068
Wright High School,Charter,1049400,1800,83.682222,83.955000,93.333333,96.611111,1626

In [8]:
# Calculate the per student budget and add it as a new column
school_data_renamed1.loc[:,"Per Student Budget"]=school_data_renamed1.loc[:,"Total School Budget"]\
                                            /school_data_renamed1.loc[:,"Total Students"]
# Calculate the % overall passing and add it as a new column
school_data_renamed1.loc[:,"% Overall Passing"]=school_data_renamed1.loc[:,"Passbothcounts"]\
                                          /school_data_renamed1.loc[:,"Total Students"]*100
# Create the dataframe of the final school summary
school_data_final=school_data_renamed1.loc[:,["School Type","Total Students","Total School Budget",\
                                              "Per Student Budget", "Average Math Score",\
               "Average Reading Score","% Passing Math", "% Passing Reading","% Overall Passing"]]
# Add format
school_data_final.loc[:,"Total School Budget"]=school_data_final.loc\
                                        [:,"Total School Budget"].map("${:,.2f}".format,na_action='ignore')
school_data_final.loc[:,"Per Student Budget"]=school_data_final.loc\
                                        [:,"Per Student Budget"].map("${:,.2f}".format,na_action='ignore')
# Remove the index name "school_name"
school_data_final.index.names=['']
# Final school summary 
school_data_final

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [9]:
# Highest-performing schools (by % overall passing)
school_data_final.sort_values("% Overall Passing", ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [10]:
# Lowest-performing schools (by % overall passing)
school_data_final.sort_values("% Overall Passing").head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [11]:
# math scores by Grade
mathbygrade=pd.pivot_table(school_data_complete, values="math_score", index="school_name", columns="grade",sort=True) 
mathbygrade_final=mathbygrade.loc[:,["9th","10th","11th","12th"]]
# remove the names of index and columns
mathbygrade_final.index.names=['']
mathbygrade_final.columns.names=['']
mathbygrade_final

                             9th       10th       11th       12th

Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [12]:
# Reading scores by grade
readbygrade=pd.pivot_table(school_data_complete, values="reading_score", index="school_name", columns="grade",sort=True)
readbygrade_final=mathbygrade.loc[:,["9th","10th","11th","12th"]]
# remove the names of index and columns
readbygrade_final.index.names=['']
readbygrade_final.columns.names=['']
readbygrade_final

                             9th       10th       11th       12th

Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [13]:
# Scores by school spending
bins1=[0,585,630,645,680]
spending_labels=["<$585","$585-630","$630-645","$645-680"]                                                    
school_data_final["Per Student Budget"] = school_data_final["Per Student Budget"].str.replace("$", "", regex=True)
school_data_final["Per Student Budget"] =school_data_final["Per Student Budget"].astype(float)  
school_data_final["Spending Ranges (Per Students)"] = pd.cut(school_data_final["Per Student Budget"],\
                                                             bins1,labels=spending_labels)
school_spending_grouped=school_data_final.groupby("Spending Ranges (Per Students)").mean()
school_spending_final=round(school_spending_grouped.loc[:,["Average Math Score",\
                            "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]],2)

school_spending_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Students),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

In [14]:
# Scores by school size
bins2=[0,1000,2000,5000]
size_labels=["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]                                                      
school_data_final["School Size"] = pd.cut(school_data_final["Total Students"], bins2,labels=size_labels)
school_size_grouped=school_data_final.groupby("School Size").mean()
school_size_final=school_size_grouped.loc[:,["Average Math Score",\
                        "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]]
school_size_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium(1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large(2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [15]:
# Scores by school types
school_type_grouped=school_data_final.groupby("School Type").mean()
school_type_final=school_type_grouped.loc[:,["Average Math Score",\
                        "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]]
school_type_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208